.stack {
  --space: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &--small {
    --space: 0.75rem;
  }

  &--large {
    --space: 2.5rem;
  }

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > * + * {
    margin-top: var(--space);
  }
}
