$breakpoints: (
  mob: 24em,
  tab: 50em,
  desk: 75em,
);

// Generate media-queries
@mixin media-up($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  @media (min-width: $breakpoint-value) {
    @content;
  }
}
