$positive: #aadb1e;
$negative: #ea1b15;
$info: #ff8f18;

$grey-100: #ebebeb;
$grey-200: #ddd;
$grey-300: #666;
$grey-400: #444;

$spacer: 1rem;

$line-height: 1.5;

$border: 1px solid $grey-200;
$radius: 0.25rem;
