<template>
  <section class="courses stack">
    <!-- TODO: Create separate filter component -->
    <div class="filter-list">
      <label class="filter button">
        <input type="radio" v-model="selectedCategory" value="All" class="js-all" />Show All
      </label>
      <label class="filter button">
        <input type="radio" v-model="selectedCategory" value="html" class="js-html" />HTML
      </label>
      <label class="filter button">
        <input type="radio" v-model="selectedCategory" value="javaScript" class="js-javascript" />JavaScript
      </label>
      <label class="filter button">
        <input type="radio" v-model="selectedCategory" value="CSS" class="js-css" />CSS
      </label>
    </div>

    <div class="course-list-wrapper">
      <ul class="course-list no-list-style">
        <li v-for="course in filterCourses" :key="course.courseId" class="course-list__item">
          <div class="course">
            <h3 class="course__title">{{ course.title }}</h3>
            <p class="course__desc">{{ course.description }}</p>
            <p class="course__status" :class="course.status">{{ course.status }}</p>
            <div class="course__img">
              <img :src="require('../assets/svgs/' + course.img)" :alt="course.category + 'logo'" />
            </div>
            <!-- TODO: add method to expand details -->
            <h4 class="course__more">
              <button type="button" aria-expanded="false" v-on:click="toggleDetails()">
                <span class="sr-only"></span> Course Details
                <!-- TODO: add svg-loader plugin -->
                <div class="svg-wrapper">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="angle-double-down"
                    class="svg-inline--fa fa-angle-double-down fa-w-10"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512"
                  >
                    <path
                      fill="currentColor"
                      d="M143 256.3L7 120.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0L313 86.3c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.4 9.5-24.6 9.5-34 .1zm34 192l136-136c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L160 352.1l-96.4-96.4c-9.4-9.4-24.6-9.4-33.9 0L7 278.3c-9.4 9.4-9.4 24.6 0 33.9l136 136c9.4 9.5 24.6 9.5 34 .1z"
                    />
                  </svg>
                </div>
              </button>
            </h4>
            <ul class="course__details" hidden>
              <li v-for="detail in course.details" v-html="detail"></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
import Data from "../data/data.json";

export default {
  name: "CourseList",
  data() {
    return {
      Data,
      selectedCategory: "All",
    };
  },
  methods: {
    toggleDetails() {
      const accordions = document.querySelectorAll(".course__more");

      Array.prototype.forEach.call(accordions, (accordion) => {
        let btn = accordion.querySelector("button");
        let target = accordion.nextElementSibling;
        let srText = accordion.querySelector(".sr-only");

        btn.onclick = () => {
          let expanded = btn.getAttribute("aria-expanded") === "true" || false;

          btn.setAttribute("aria-expanded", !expanded);
          target.hidden = expanded;
          accordion.classList.toggle("is-open");

          if (!expanded) {
            srText.innerText = "Close";
          } else {
            srText.innerText = "Open";
          }
        };
      });
    },
  },
  computed: {
    filterCourses() {
      const courses = Data.courses;
      const category = this.selectedCategory;

      function courseCategory(course) {
        return course.category.toUpperCase() === category.toUpperCase();
      }

      if (category === "All") {
        return courses;
      } else {
        return courses.filter(courseCategory);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../styles/main.scss";

.filter-list {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin-right: $spacer / 2;
    margin-top: $spacer / 2;

    &:last-child {
      margin-right: 0;
    }
  }

  .button input {
    height: 0;
    opacity: 0;
    position: absolute;
  }

  .button:focus-within {
    @include focus;
  }
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  margin: -$spacer;

  > li {
    flex: 1 1 100%;
    min-width: 180px;
    padding: $spacer;

    @include media-up(mob) {
      flex-basis: 33%;
    }

    @include media-up(tab) {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
}

.course {
  height: 100%;
  display: flex;
  flex-direction: column;

  > * {
    padding-right: $spacer;
    padding-left: $spacer;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__title {
    order: 3;
    padding: $spacer * 0.75;
    padding-bottom: 0;
    border-right: $border;
    border-left: $border;
    background: $grey-100;

    @include media-up(mob) {
      min-height: 3em;
    }
    @include media-up(tab) {
      min-height: 3.5em;
    }
    /* @media (min-width: 900px) {
      } */
    @include media-up(desk) {
      min-height: 1.5em;
    }
  }
  &__desc {
    order: 4;
    padding: $spacer * 0.75;
    border-right: $border;
    border-left: $border;
    background: $grey-100;

    @include media-up(mob) {
      min-height: 125px;
    }
  }
  &__status {
    order: 2;
    padding: $spacer * 0.75;
    padding-left: $spacer * 2.5;
    border-right: $border;
    border-left: $border;
    background-position: $spacer * 0.75;
    background-repeat: no-repeat;
    background-size: 1em;

    &.unstarted {
      background-image: url(../assets/svgs/thumbs-down.svg);
    }
    &.progress {
      background-image: url(../assets/svgs/thumbs-up.svg);
    }
    &.completed {
      background-image: url(../assets/svgs/tick.svg);
    }
  }
  &__img {
    order: 1;
    padding: $spacer * 0.75;
    border: $border;
    border-bottom: 0;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 0 auto;
      max-height: 150px;
    }
  }

  &__more {
    order: 5;
    background: $grey-400;
    color: #fff;
    bottom: 0;
    padding: 0;

    button {
      all: inherit;
      user-select: none;
      cursor: default;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0.25em $spacer;
      padding-right: $spacer / 2;
      width: 100%;

      &:focus {
        @include focus;
      }
    }

    .svg-wrapper,
    .svg-wrapper svg {
      height: 1em;
      width: 1em;
    }

    svg {
      transition: all 0.2s ease;
    }
  }

  &__details {
    order: 6;
    border: $border;
    border-top: 0;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    padding: $spacer;
    padding-left: $spacer * 2;
    list-style: disc;
  }
}

.course__more.is-open {
  svg {
    transform: rotate(180deg);
  }
}
</style>