<template>
  <div class="progressbar">
    <div :class="barColor" :style="barStyle" class="progressbar__bar">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "ProgressBar",
  props: {
    value: {
      type: Number,
      default: 0
    },
    barColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      ready: false
    };
  },
  computed: {
    // TODO: add nice transition on ready
    barStyle() {
      // if (!this.ready) {
      //   return {
      //     width: `${this.value.default}`,
      //   };
      // } else {
      return {
        width: `${this.value}%`
      };
      // }
    }
  },
  mounted() {
    setTimeout(() => {
      this.ready = true;
    }, 0);
  }
};
</script>

<style lang="scss">
@import "../styles/main.scss";

.progressbar {
  --inner-height: 0.75rem;
  --bg: $grey--300;
  --radius: 3em;
  --transition: transform 2s ease;

  @include box;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: #fff;
  border-radius: var(--radius);

  &__bar {
    height: var(--inner-height);
    border-radius: var(--radius);
    background: var(--bg);
    transition: var(--transition);
  }
}

.positive {
  background-color: $positive;
}

.negative {
  background-color: $negative;
}
</style>
