<template>
  <section class="user-card">
    <div class="user-card__img">
      <img src="../assets/svgs/avatar.svg" alt="Person silhouette" class="img" />
    </div>
    <div class="user-card__content stack">
      <div class="content-header">
        <h2 class="name">{{UserData.name}}</h2>
        <p class="username" role="subheading" aria-level>
          (Your username:
          <span class="username-data">{{UserData.username}}</span>)
        </p>
      </div>
      <p class="user-about">{{UserData.bio}}</p>

      <div class="progress stack">
        <Progress-bar :value="getProgress" bar-color="positive" />
        <h3>Completed {{getProgress}}% of modules</h3>
        <ul>
          <li>{{modulesComplete.val}} Modules Completed</li>
          <li>{{modulesInProgress.val}} Modules In Progress</li>
          <li>{{modulesNotStarted.val}} Modules Remaining</li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import ProgressBar from "./ProgressBar";
import UserData from "../data/data.json";

export default {
  name: "UserCard",
  data() {
    return {
      UserData,
      modulesComplete: {
        type: Number,
        val: 2,
      },
      modulesInProgress: {
        type: Number,
        val: 2,
      },
      modulesNotStarted: {
        type: Number,
        val: 2,
      },
    };
  },
  components: {
    ProgressBar,
  },
  computed: {
    getProgress() {
      const totalModules =
        this.modulesComplete.val +
        this.modulesInProgress.val +
        this.modulesNotStarted.val;
      const percentage = Math.round(
        (this.modulesComplete.val / totalModules) * 100
      );

      return percentage;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../styles/main.scss";

.user-card {
  @include box;

  &__img {
    .img {
      display: block;
      max-width: 6rem;
    }
  }

  &__content {
    margin-top: $spacer;
  }

  @include media-up(mob) {
    display: flex;

    &__img {
      flex: 0 1 25%;
      padding-right: 1.5 * $spacer;

      .img {
        margin: 0 auto;
      }
    }
    &__content {
      flex: 1 1 75%;
      margin-top: 0;

      .content-header {
        font-weight: bold;

        > * {
          display: inline-block;
          &:first-child {
            margin-right: $spacer;
          }
        }
      }
    }
  }
}
</style>
