<template>
  <form action class="form">
    <label class="name-label" for="name">Name</label>
    <input class="name-input" id="name" type="text" required />
    <p class="error name-error js-name-err" hidden></p>
    <label class="bio-label" for="bio">Bio</label>
    <input class="bio-input" id="bio" type="text" required />
    <p class="error bio-error js-bio-err" hidden></p>
    <button class="button" type="submit" @click.prevent disabled>Submit</button>
  </form>
</template>

<script>
export default {
  name: "UserFrom",
  methods: {},
};
</script>

<style scoped lang="scss">
@import "../styles/main.scss";

.form {
  @include box;
  margin-top: $spacer * 2;

  @include media-up(mob) {
    padding: $spacer * 2;
    display: grid;
    gap: $spacer * 2;
    grid-template-columns: auto 1fr 50%;
    grid-template-areas:
      "lname iname ename"
      "lbio ibio ebio"
      ". btn .";

    .name-label {
      grid-area: lname;
    }
    .bio-label {
      grid-area: lbio;
    }
    .name-input {
      grid-area: iname;
    }
    .bio-input {
      grid-area: ibio;
    }
    .name-error {
      grid-area: ename;
    }
    .bio-error {
      grid-area: ebio;
    }
    .button {
      grid-area: btn;
    }
  }

  > * {
    display: flex;
  }
}

label {
  font-weight: bold;
  margin: 0 $spacer 0.25em 0;
  padding: $spacer / 2;
}

input {
  @include box;
  padding: $spacer / 2;

  &:invalid {
    border-color: negative;
  }
}

.error {
  margin: 0.5rem 0 1.25rem 0;
}

.button {
  margin-left: auto;

  &:disabled {
    &:hover {
      background: $positive;
    }
    &:active {
      top: 0;
    }
  }
}
</style>