<template>
  <div id="app" class="stack">
    <UserCard />
    <CourseList />
    <UserForm />
  </div>
</template>

<script>
import UserCard from "./components/UserCard";
import CourseList from "./components/CourseList";
import UserForm from "./components/UserForm";

export default {
  name: "App",
  components: {
    UserCard,
    CourseList,
    UserForm,
  },
};
</script>

<style lang="scss">
@import "./styles/reset.scss";
@import "./styles/main.scss";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $grey-400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: ($spacer * 2) $spacer;
  max-width: map-get($breakpoints, desk);
  margin: 0 auto;
}

button,
a,
input {
  &:focus {
    @include focus;
  }
}

*:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

ul {
  padding-left: 1em;
}

.no-list-style {
  padding: 0;

  > li {
    list-style-type: none;

    /* Maintain list semantics for screen-readers */
    &:before {
      content: "\200B";
      display: none;
    }
  }
}

.button {
  background: $positive;
  border: 0;
  border-radius: 0.25rem;
  color: $grey-400;
  font-size: 1.125rem;
  font-weight: semibold;
  padding: 0.5em 1.5em;
  position: relative;

  &:active {
    top: 1px;
  }

  &:focus {
    @include focus;
  }

  &:focus,
  &:hover {
    background: darken($positive, 10);
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
</style>
